<launch>
  <!-- Optional argument for pixel topic -->
  <arg name="pixel_topic" default="/pixel_uv"/>
  <arg name="depth_image_topic" default="/camera/depth/image_raw"/>
  <arg name="camera_info_topic" default="/camera/depth/camera_info"/>
  <arg name="output_topic" default="/object_point"/>

  <!-- Run the coordinate converter node -->
  <node name="llm_executor_node"
      pkg="cordinate_tfs"           
      type="llm_command_listner.py"
      output="screen">

  </node>
</launch>
